* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
li {
  list-style: none;
}
body {
  font-family: Open sans-serif;
}

.menu-box {
  background-color: #313131;
  height: 70px;
  display: flex;
}
.navigation-item a:hover {
  color: #14b9d5;
}
.main-menu {
  padding-right: 26px;
}

.tiny-picture {
  width: 27px;
  height: 27px;
  padding: 22px 21px 22px 27px;
}
.logo-bg {
  width: 81px;
  height: 70px;
}
.title {
  font-size: 22px;
  padding-top: 22px;
  padding-left: 27px;
  color: #ffffff;
}
.navbar-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.navigation-item {
  text-align: center;
  font-size: 15px;
  padding-top: 28px;
  padding-bottom: 26px;
  text-transform: uppercase;
}
.tiny-picture-right {
  width: 68px;
  height: 70px;
  background: #000000;
}
.loupe {
  padding: 27px 26px;
  width: 17px;
  height: 17px;
}
.header-background {
  height: 369px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/headers-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.news-title {
  display: flex;
  justify-content: center;
}
.latest-news {
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  color: #ffffff;
  padding-top: 163px;
}
.button {
  display: flex;
  justify-content: center;
  padding-top: 44px;
}
.subscribe-now {
  margin-right: 20px;
  text-align: center;
  width: 170px;
  height: 55px;
  background-color: #89ca62;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 16px 19px;
}

.best-articles {
  text-align: center;
  width: 170px;
  height: 55px;
  background-color: #14b9d5;
  color: #ffffff;
  border-radius: 1px;
  border: none;
  padding: 16px 19px;
}

.main-title {
  display: flex;
  justify-content: center;
}
.popular-posts {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #18b4cf;
  font-size: 27px;
  padding-top: 49px;
  padding-bottom: 52px;
}

.background-container {
  background-color: #f2f2f2;
}

.pictures-describtion {
  height: 950px;
  gap: 30px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.list-navigation {
  background-color: #ffffff;
  width: 370px;
}
.titles {
  font-size: 18px;
  font-weight: 700px;
  font-weight: bold;
  text-align: center;
  color: #353a3d;
  padding: 20px 0px 22px;
}
.popular-clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-bg {
  background-image: url(../img/parallax-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 588px;
}
.title-clients {
  font-weight: 700;
  text-align: center;
  padding-top: 108px;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.title-clients::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border: none;
  background-color: #18b4cf;
  margin: 87px auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 207px 135px 232px 141px;
  gap: 58px;
  justify-content: center;
}
.title-rated {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  padding: 49px 0 52px;
}
.seven-images {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  overflow: hidden;
}

.title-news {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #18b4cf;
  padding: 48px 0 51px;
}
.wrapper-hotnews {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-template-rows: 259px 418px 418px 259px;
  justify-content: center;
  align-content: center;
  gap: 35px;
}

.box1 {
  grid-column: 1 / span 3;
  display: flex;
}
.box3 {
  grid-column: 1 / span 2;
}
.box4 {
  grid-column: 3 / span 2;
}
.box4 img {
  width: 100%;
}
.box5 {
  grid-column: 1 / span 2;
}
.box6 {
  grid-column: 3 / span 2;
}

.box8 {
  grid-column: 2 / span 3;

  display: flex;
}
.bottom-content {
  display: flex;
  justify-content: center;
}
.hotel-title-p {
  text-align: center;
  padding: 41px 24px 15px 31px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.hotel-title {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.parahraph {
  padding-right: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.prophecy-photo {
  width: 483px;
  height: 259px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.p-western {
  text-align: right;
  padding: 14px 14px 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.grand-title {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 27px;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.neb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.title-nebula {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #353a3d;
}
.hotel-photo {
  width: 554px;
  height: 259px;
}

.title-prism {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 26px 20px 27px;
}
.hotel-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.top-news {
  background-color: rgba(0, 0, 0, 0.0001);
}
.resosrt-hotels {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.resosrt-hotels .box7 {
  width: 277px;
  height: 208px;
}
.resosrt-hotels .box8 {
  width: 856px;
  height: 259px;
}
.pictures-rated {
  width: 100%;
}
.hotel-photo {
  width: 100%;
}
.hotel-title-king {
  text-align: center;
  padding: 41px 24px 15px 31px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.parahraph-king {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 24px 41px;

  color: #5b6469;
  text-align: center;
}
.footer-wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #000000;
  margin-top: 77px;
  padding-top: 25px;
  padding-bottom: 30px;
  height: 80px;
}
.title-wrapp {
  padding-top: 29px;
  padding-bottom: 30px;
}
.title-b {
  text-align: left;
  padding-left: 367px;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.back-ground-wrapp {
  display: flex;
  float: right;
  margin-left: auto;
  margin-right: 368px;
  flex-wrap: wrap;
}
.vector-logo {
  padding-top: 29px;
}
