* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
li {
  list-style-type: none;
}
.milan-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}
.holiday-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}
.container {
  width: 1366px;
  margin: 0 auto;
}
.logo-wrapper:hover img {
  color: #f26522;
}
.logo-wrapper:hover p {
  color: #f26522;
}
.nav-content {
  display: flex;

  padding-top: 51px;
  padding-left: 161px;
}
.main-info:hover a {
  color: #f26522;
}
.tel-info {
  padding-top: 19px;
  float: right;
}
.navbar {
  display: flex;
}
.span {
  display: block;
}
.picture-logo {
  width: 53px;
  height: 47px;
}
.main-info {
  padding-left: 608px;
}
.photo-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 220px);
  column-gap: 61px;
  row-gap: 78px;
  padding-top: 22px;
}
.title-wrapper {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-top: 20px;
}
.bottom-title {
  display: flex;
  justify-content: center;
  padding-top: 85px;
}
.bottom-copyright {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ffffff;
}
.title-wrapper:hover {
  color: #f26522;
}

.wrapper:hover h3 {
  color: #f26522;
}
.block-info {
  position: relative;
  overflow: hidden;
  height: 220px;
}
.orange-block {
  height: 55px;
  background-color: #f26522;
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 1s ease-out;
}
.wrapper:hover .orange-block {
  bottom: 0;
}
.little-title {
  font-size: 10px;
  line-height: 10px;
  padding-top: 7px;
  padding-left: 16px;
  font-weight: 400;
}
.price {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  float: left;
  padding-left: 16px;
  padding-top: 8px;
}
.main-details {
  font-size: 14px;
  line-height: 14px;
  float: right;
  padding-right: 37px;
  padding-top: 12px;
  font-weight: 400;
}
.main-details::after {
  content: ">";
  padding-left: 16px;
  top: 50%;
  left: 50%;
}
