body {
  background-image: url(../img/black-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.animation-text {
  margin: 0 auto;
  color: yellow;
  text-transform: uppercase;
  width: 350px;
  transform: perspective(100px) rotateX(24deg);
}
.title {
  text-align: center;
  margin: o auto;
}
p {
  text-align: center;
}
.title {
  animation: slide-top 30s infinite both;
  rotate: (40deg);
  animation-delay: 0.1ms;
}

@keyframes slide-top {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(-100px);
  }
}
